@model Tracker.ViewModels.SeedDetailViewModel

<h1>Seed Detail</h1>

<body style="background-color: #D1CA08 ">
    <div class="table" style="border: 2px solid; border-radius: 10px; background-color: beige">


        <b>Seed Name: </b>
        @Model.Name
        </br>
        <b>Hardiness Zone: </b> @Model.HardinessZone
        </br>
        <b>Date Watered: </b>
        @Model.DatePlanted
        <br />
        <b>Watering schedule: </b>
        every @Model.WaterSchedule days this needs to be watered
        </br>
        </br>
        <b>Garden Beds this seed is planted in: </b>
        @Model.BedText

    </div>
    <br />
    <a asp-controller="Bed" asp-action="AddBedToSeed" asp-route-id="@Model.SeedId" class="btn btn-light" style="background-color: beige; border: 1px solid">Add garden beds to this seed</a>

</body>
